.header-bottom {
    height: 105px;
    margin-right: 30px;
}

.search {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    width: 600px;
}

.login {
    height: 50px;
    width: 200px;
    text-decoration: none;
    margin-top: 17px;
    margin-left: 160px;
    font-size: 25px;
    float: left;
}

.login a:hover{
    color: darkorange;
}

.a {
    text-decoration: none;
    color: rgb(35, 35, 201);
}

.a1 {
    text-decoration: none;
    float: left;
    color: black;
    margin-left: 75px;
}

.navbar {
    width: 100%;
    background-color: rgb(19, 19, 206) !important;
}

.navbar li a {
    color: black!important;
}

#navbarResponsive {
    margin-left: 40%;
    width: 100px;
}

.navbar li a:hover {
    color: rgb(19, 19, 206) !important;
}

.navbar-branch {
    margin-left: 6%;
}

.section {
    width: 100%;
    height: 650px;
}

.carousel-item {
    height: 600px;
    width: 100%;
}

.div1 {
    height: 500px;
    width: 35%;
    float: left;
    margin-top: 30px;
    margin-left: 15%;
}

.div2 {
    height: 600px;
    width: 30%;
    float: right;
    margin-top: 20px;
    margin-right: 8%;
}

footer {
    background: linear-gradient(65deg, rgb(192, 190, 190) 15%, rgb(228, 228, 231));
    text-align: center;
    color: black;
    padding: 1rem;
    flex-shrink: 0;
    height: 400px;
    margin-top: 50px;
}

.category {
    height: 200px;
    float: left;
    width: 250px;
    margin-left: 60px;
    margin-top: 30px;
}

.logo-footer {
    float: left;
    margin-left: 80px;
    margin-top: 30px;
}

.hr {
    margin: 5px 90px 0 90px;
    border: 1px solid black;
}

.about-us {
    float: left;
    margin: 60px 0 0 90px;
}

.a2 {
    text-decoration: none;
    float: left;
    color: black;
    text-align: left;
}

.contact-us {
    float: right;
    margin-right: 175px;
  
    height: 100px;
    margin-bottom: 20px;
}

.icon {
    float: right;
    margin-right: 150px;
    height: 100px;
}

.copy {
    margin-top: 120px;
    padding-right: 1080px;
}

h4 {
    margin: 0 60px 0 60px;
}

.p {
    margin: 0 60px 0 60px;
}