header{
    height: 125px; 
}
header img {
    float: left;
    margin-left: 130px;
}
.header-bottom{
    height: 125px;
    margin-right: 30px;
}
.search{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    width: 600px;
}
.login{
    height: 50px;
    width: 200px;
    text-decoration: none;
    margin-top: 17px;
    margin-left: 160px;
    font-size: 25px;
    float: left;
}
.a{ text-decoration: none;
    color: red;
}
.a1{
    text-decoration: none;
    float: left;
    color: black;
    margin-left: 75px;
}
.navbar{
    border: solid 1px black;
    width: 420px;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 300px;
    float: right;
}
footer {
        background: rgb(148, 240, 243);
        text-align: center;
        color: black;
        padding: 1rem;
        flex-shrink: 0;
        height: 500px;
        margin-top: 50px;
      }
      .category{ 
        height: 200px;
        float: left;
        width: 250px; 
        margin-left:60px;
    }
.logo-footer{
    float: right;
    margin-right: 150px;
} 
.hr{
    margin: 80px 90px 0 90px;
    border: 1px solid black;
}   
.about-us{
    float: left;
    height: 250px;
    width: 300px;
    margin-left:180px;
}
.a2{
    text-decoration: none;
    float: left;
    color: black;
    text-align: left;
}
.contact-us{
    float: right;
    margin-right: 150px;
    height: 180px;
    width: 30%;
}
.copy{
    margin-top: 200px;
    padding-right: 1080px;
}
h4{
    margin:0 60px 0 60px;
}
.p{
   margin: 0 60px 0 60px;
}
    
