header{
    height: 125px;
    
}
header img {
    float: left;
    margin-left: 130px;
}
.header-bottom{
    height: 125px;
   
    margin-right: 30px;
    
}
.search{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    width: 600px;
}
.login{
    height: 50px;
    width: 200px;
    text-decoration: none;
    margin-top: 17px;
    margin-left: 160px;
    font-size: 25px;
    float: left;
}
.a{ text-decoration: none;
    color: red;
}
.navbar{
    border: solid 1px black;
    width: 420px;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 300px;
    float: right;
}

