header{
    height: 125px;
    background-color: ;
}
header img {
    float: left;
}
.header-right{
    height: 125px;
    float: right;
    
    margin-right: 100px;
    width: 750px;
}
.search{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    width: 600px;
}
.login{
    height: 50px;
    width: 200px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 300px;
    font-size: 25px;
}
.   a{
    text-decoration: none;
}

