header{
    height: 125px;
    
}
header img {
    float: left;
    margin-left: 130px;
}
.header-right{
    height: 125px;
    float: right;
    
    margin-right: 30px;
    width: 750px;
}
.search{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    width: 600px;
}
.login{
    height: 50px;
    width: 200px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 300px;
    font-size: 25px;
}
.a{ text-decoration: none;
    color: red;
}
.navbar{
    border: solid 1px black;
    width: 450px;
    border-radius: 20px;
    margin:50px 0 0 400px;
}

